streams/.idea/
streams/project/project/
streams/project/target/
streams/target/
quickcheck/.idea/
quickcheck/project/project/
quickcheck/project/target/
quickcheck/target/
calculator/.idea/
calculator/project/project/
calculator/project/target/
calculator/target/
calculator/web-ui/target/
